*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global colors */

:root{
    --mainColor:#e55556;
    --bgColor: #333;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "PT Sans", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Oswald", sans-serif;
}
section{
    padding:50px 0px;
}
.title h2{
    font-size: clamp(30px,4vw,40px);
    width: fit-content;
    margin: auto;
}
 .container{
    width: 90%;
    margin: auto;
}