/* ------------navbar------------------ */

nav{
    position:absolute;/*moving in relation to body*/
    top: 10px;
    width: 100%;
    z-index: 1000;
}
nav .container{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
nav .container h1{
    font-size:clamp(30px,6vw,45px);
    letter-spacing: 2px;
}
nav .container #menu{
    display: none;
}
nav .container ul{
    list-style: none;
    display: flex;
    column-gap: 15px;
}
nav .container ul li{
    padding-bottom: 3px;
    transition-duration: .5s;
}
nav .container ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav .container ul li:hover,
nav .container ul li.active{
    border-bottom: 2px solid var(--mainColor);
}

/* -------------home bage------------------ */

header{
    background-image: url("./../images/home-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    position: relative;
}
header .content{
    position: absolute;/*moving in relation to header*/
    top: 35%;
    left:8% ;
}
header .content>*:not(:last-child){
    margin-bottom: 15px;
    letter-spacing: 2px;
}
header .content h1{
    font-size:clamp(30px,6vw,60px);
}
header .content h2{
    font-size:clamp(25px,4vw,40px);
}
header .content button{
    background-color: black;
    color: #fff;
    font-size:clamp(14px,3vw,16px);
    font-weight: 600;
    border: 2px solid var(--mainColor);
    padding: 10px 15px;
    cursor: pointer;
     
}
header .content button:active{
    border-color: #fff;
    background-color: transparent;
}
header .icon a{
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 1000;
    width: fit-content;
    background-color:#330;
    color: #fff;
    padding:clamp(7px,5vw,15px);
    font-size:clamp(14px,5vw,20px);
    border-radius: 50%;
}


/* -- --------ABOUT bage---------- -- */

#ABOUT .container{
    display: flex;
    flex-wrap: wrap;
}
#ABOUT .container .content{
    width: 50%;
    padding: 10px;
    position: relative;
    top: 200px;
    left: 50px;
     
}
#ABOUT .container .content h2{
    color: var(--mainColor);
    font-size: clamp(30px,5vw,40px);
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#ABOUT .container .img{
    width: 50%;
}
#ABOUT .container .img img{
    width: 400px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

/* -- -------- SERVICES bage---------- -- */

#SERVICES{
    background-color: var(--mainColor);
}
#SERVICES .title h2{
    color: #fff;
}
#SERVICES .container>*{
    margin-top: 30px;
}
#SERVICES .container .box{
    display: flex;
    flex-wrap: wrap;
}
#SERVICES .container .box .content{
    width: 70%;
}
#SERVICES .container .box .content>*{
    margin-bottom: 10px;
}
#SERVICES .container .box .content h3{
    color: #fff;
    font-size:clamp(20px,3vw,30px);
    letter-spacing: 1px;
}
#SERVICES .container .box .content p{
    line-height: 1.5;
}
/* button */
#SERVICES .container .box .content button{
    background-color: black;
    color: #fff;
    font-size:clamp(14px,3vw,16px);
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}
#SERVICES .container .box .content button:hover{
    background-color:#ffffff2b;
}
#SERVICES .container .box .content button:active{
    box-shadow:inset 0 0 3px #fff;
}
/* icon */
#SERVICES .container .box .icon{
    width: 30%;
    margin: auto;
    color: var(--mainColor);
}
#SERVICES .container .box .icon .item{
    width: fit-content;
    margin: auto;
    background-color: #fff;
    padding:clamp(20px,5vw,30px);
    font-size:clamp(30px,5vw,40px);
    border: 1px solid #000;
    border-radius: 50%;
}
 
/* -- -------- CLIENTS bage---------- -- */

#CLIENTS .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#CLIENTS .container .box{
    width: 40%;
    text-align: center;
    margin-top: 50px;
}
#CLIENTS .container .box>*:not(:last-child){
    margin-bottom: 20px;
}
#CLIENTS .container .box h3{
    color: var(--mainColor);
    font-size: 30px;
}
#CLIENTS .container .box .img{
    width: fit-content;/*the width of imsge*/
    height:90px;/*hte height of image*/
    margin: auto;
    border: 2px solid var(--mainColor);
    border-radius: 50%;
    overflow: hidden; 
}

/*-- -------- TRAINERS bage---------- -- */

#TRAINERS{
    background-color: var(--mainColor);
}
#TRAINERS .title h2{
    color: #fff;
}
#TRAINERS .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}
#TRAINERS .container .card{
    width: 25%;
}
#TRAINERS .container .card .item{
    background-color: #fff;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    transition-duration: .5s;
    padding: 1px;/*soluation the problem margin collabsing ,it is effect on .img*/
}
#TRAINERS .container .card .item:hover{
    box-shadow: 0 4px 15px rgba(0,0,0,2);
    transform: scale(1.02);
}
#TRAINERS .container .card .item .img{
    width: fit-content;/*the width of image*/
    height:170px;/*the height of image*/
    margin: auto;
    margin-block: 20px;
    border: 4px solid var(--mainColor);
    border-radius: 50%;
    overflow: hidden; 
}
#TRAINERS .container .card .item .content>*{
    margin-bottom: 17px;
}
#TRAINERS .container .card .item .content h3{
    font-size: 25px;
    color: var(--mainColor);
    letter-spacing: 2px;
}
#TRAINERS .container .card .item .content h4{
    font-weight: 600;
    letter-spacing: 2px;
}
#TRAINERS .container .card .item .content p{
    padding-inline: 20px;
}
#TRAINERS .container .card .item .content .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
#TRAINERS .container .card .item .content .icons .icon a{
    color: #fff;
    background-color:var(--mainColor);
    padding:clamp(3px,4vw,8px);
    font-size:clamp(10px,5vw,15px);
    border: 1px solid #000;
    border-radius: 50%;
}
#TRAINERS .container .card .item .content .icons .icon:hover a{
    color: var(--mainColor);
    background-color: #fff;
    color: var(--mainColor);
}

/*-- -------- GALLERY bage---------- -- */

#GALLERY .container{
    width: 100%;
    margin-top: 50px;
}
#GALLERY .container .card{
    width: 90%; 
    height:100vh;/*height of back ground image*/
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}
#GALLERY .container .card .img{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
#GALLERY .container .card .img1{
    background-image: url("./../images/img1.jpg");
 }
#GALLERY .container .card .img2{
    background-image: url("./../images/img2.jpg");
 }
#GALLERY .container .card .img3{
    background-image: url("./../images/img3.jpg");
 }
#GALLERY .container .card .img4{
    background-image: url("./../images/img4.jpg"); 
 }
#GALLERY .container .card .img5{
    background-image: url("./../images/img5.jpg");
 }
#GALLERY .container .card .img6{
    background-image: url("./../images/img6.jpg");
 }
#GALLERY .container .card .img7{
    background-image: url("./../images/img7.jpg");
 }
#GALLERY .container .card .img:nth-of-type(1){
    grid-row: 1/3;
}
#GALLERY .container .card .img:nth-of-type(4){
    grid-row: 2/4;
}

/* -- -------- CONTACT bage---------- - */

#CONTACT .title{
    margin-block: 50px;
}
#CONTACT .container .links{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#CONTACT .container .links .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#CONTACT .container .links .link .icon{
    margin-bottom: 20px;
    color: #fff;
    background-color:var(--mainColor);
    padding:20px;
    font-size:clamp(18px,5vw,16px);
    border-radius: 50%;
}
#CONTACT .container .links .link a{
    text-decoration: none;
    color: #000;
}
#CONTACT .container form{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;/*space between 3 inputs*/
}
#CONTACT .container form .box{
    width: 32%;
    margin-bottom: 15px;
}
#CONTACT .container form .item{/*select inputs and textarea*/
    width: 100%;
    border-bottom: 1px solid var(--mainColor);
    transition-duration: 1s;
}
#CONTACT .container form .item:focus-within{/*when i focus in input then .item is effected*/
    border-bottom: none;
    box-shadow: var(--mainColor) 0px 0px 5px;
}
#CONTACT .container form .box .item input,
#CONTACT .container form .item textarea{
    outline: none;
    border: none;
    padding:10px;
}
#CONTACT .container form .item textarea{
    resize: none;
    height:200px;
}
#CONTACT .container form .box .item input::placeholder,
#CONTACT .container form .item textarea::placeholder{
    font-size: 15px;
}
#CONTACT .container form button{
    margin-top: 10px;
    background-color: black;
    color: #fff;
    font-size:clamp(14px,3vw,16px);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
#CONTACT .container form button:hover{
    background-color:var(--mainColor);
}

/* - -------- footer bage----------  */

footer{
    background-color:#333;
    padding-bottom: 1px;/*soluation to margin collabsing in .container2*/
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* card1 */
footer .container .card{
    width: 30%;
}
footer .container .card .head{
    margin-block: 20px;
    color: var(--mainColor);
}
footer .container .card .content ul{
    list-style: none;
    
}
footer .container .card .content ul>*:not(:last-child){
    margin-bottom: 10px;
}
footer .container ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    
}
footer .container ul li a:hover{
    color: var(--mainColor);
}
/* card2 */
footer .container .card .content.imgs{
    width: 270px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    gap: 5px;
}
footer .container .card .content img{
    width: 90px;
    height: 70px;
}
/* card3 */
footer .container .card .content.card3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .container .card .content .day{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--mainColor);
    color: #fff;
}
/* container2 */
footer .container2 {
    width: fit-content;
    margin: auto;
    margin-block: 40px;
    color: #fff;
    font-weight:300 ;
}
footer .container2 p span{
    color: var(--mainColor);
}
footer .container2 .buttons{
    width: fit-content;
    margin: auto;
    margin-block: 30px;
}
footer .container2 .buttons a{
    margin-right: 10px;
    color: #fff;
    background-color:var(--mainColor);
    padding:clamp(3px,4vw,8px);
    font-size:clamp(10px,5vw,15px);
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
footer .container2 .buttons a:hover{
    color: var(--mainColor);
    background-color: #fff;
    color: var(--mainColor);
}